*{
    box-sizing: 0px;
}

body {
    background-image: url('./assets/background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

h1 {
    color: white;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: white;
}

li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(158, 155, 155, 0.7);
    margin-top: 10px;
    border-radius: 20px;
    width: 80%;
    padding: 15px;
}


.link {
    text-align: center;
    background-color: bisque;
    width: 20%;
    padding: 10px 10px;
    border-radius: 20px;
    list-style: none;
}

form {
    width: 75%;
    height: 50px;
    /* border: solid red 3px; */
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

button {
    width: 15%;
    border-radius: 20px;
}

input {
    text-align: center;
    width: 70%;
    border-radius: 20px;
    font-size: 25px;
}

a {
    margin-bottom: 10px;
}

.title {
    font-size: 24px;
}








